*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
}
h1{
    margin-bottom: 20px;
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.container{
    width: 350px;
    background-color: rgb(165, 101, 186);
    border-radius: 5px;
    padding:20px;
    text-align: center;
}

.container input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #777777;
    margin-bottom: 20px;
    font-size: 1rem;
    outline: none;
    border-radius: 7px;
}

button{
    border: none !important;
    cursor: pointer;
    background-color: rgb(123, 46, 149);
    margin: 15px 0;
    font-size: 1rem;
    width:100%;
    padding: 14px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(152, 64, 182);
    color: aliceblue;
}
